@import "src/config/colors";

.app-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkgrey;
  flex-direction: column;

  &__title {
    font-size: 50px;
    font-weight: 700;
    color: $black;
    display: block;
  }
}