$black: #111;
$white: #fff;
$grey: #b3b3b3;

$header_color: #121212;

$btn-green: #148a3f;
$btn-green_hover: #1db954;
$link-green: #056c05;
$link-green_hover: #0ac90a;

$lightgrey: #616467;
$darkgrey: #222326;

$red_error: #de2323;

$black32:  rgb(32, 32, 32);
$black40:  rgb(40, 40, 40);
$black50: rgb(50, 50, 50);
$darkwhite: #c4c4c4;

$black26: rgb(26, 26, 26);
$main-content-bg-color: linear-gradient( rgba(0,0,0,.6),rgb(18, 18, 18) 100%);
$background-base:rgb(18, 18, 18);
$black0: rgb(0, 0, 0);
$hover-color-for-light-items: #1DB95426;
$player-dark-bg-color: rgb(24, 24, 24);
$player-light-bg-color: $white;

$main-content-light-bg-color: #F1F7F1;
$background-base-light:rgb(82, 82, 82);
$switch-color: #1DB954;
$player-border-light:#F1F1F1;
$player-slider-light: rgba(196, 196, 196, 1);
$text-light-color: rgba(25, 20, 20, 1);
