@import "src/config/colors";

.admin {
  padding: 0 16px;
  &__button {
    width: 300px;
    &_main {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 30px !important;
  }

  &-item {
    &__wrap {
      padding: 10px 30px;
      border-bottom: .5px solid $lightgrey;
      display: flex;
      align-items: center;
      column-gap: 15px;
    }

    &__action {
      width: auto;
      margin-top: 0;
      padding: 5px 15px;
    }
  }

  &-song {
    &__wrap {
      padding: 10px 30px;
      border-bottom: .5px solid $lightgrey;
      display: flex;
      align-items: center;
      column-gap: 15px;
    }

    &__action {
      width: auto;
      margin-top: 0;
      padding: 5px 15px;
    }
  }

  &-genre {
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    align-items: center;

    &__header {
      height: 100px;
    }

    &__title {
      color: $white;
      font-weight: 700;
      font-size: 30px;
      line-height: 100%;
      text-shadow: 2px 1px 1px #000;
    }
  }
}
