@import "./src/config/colors";

.genre {
  width: 400px;
  height: 180px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  padding: 20px;
  transition: .2s transform ease-in-out;

  span {
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Circular', sans-serif;
    text-shadow: 2px 3px 0 $black;
    letter-spacing: 2px;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &__img {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    transform: rotate(30deg);
    background-color: black;
  }
}
